/* body {
  font-family: Arial;
}

#mainImg {
  width: 22%;
}

.box {
  border: 0.25px solid black;
  background-color: lightgray;
  width: 200px;
  padding: 1rem;
}

.boxLink {
  text-decoration: none;
}

.oldImg {
  height: 200px;
  width: 200px;
  margin-right: 1rem;
}

#description {
  background-color: antiquewhite;
}

.red {
  color: red;
}
.decoration {
  text-decoration: wavy purple underline;
}
.hv{
  color: rgb(255, 255, 255) !important;
} */

/* div{
  background-color: azure;
  width: 20rem;
  height: 20rem;
  border: 2px solid black;
}

ul{
  background-color:aqua;
  width: 10rem;
  height: 10rem;
  border: 2px solid black;
}

li{
  background-color:aquamarine;
  width: 5rem;
  height: 2.5rem;
  border: 2px solid black;
} */