body{
    text-align: center;
}
.add{
    margin-left: 1rem;
}
.tasks{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    margin-top: 0.5rem;
}
.tasks p{
    padding: 0px;
    margin: 0px;   
    width: 20rem;
    text-align: left;
    margin-left: 0.5rem;
}

#del-btn{
    margin: 0px;
    margin-left:1rem;
    padding: 0.2rem 0.5rem;
}